.productspage {
  width: 100%;
  height: 100%;

  &_sort {
    width: 100%;

    &--info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2%;

      border: 1px solid grey;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1%;

      background: rgb(89, 241, 227);
      background: linear-gradient(90deg,
          rgba(89, 241, 227, 1) 3%,
          rgba(72, 207, 233, 1) 92%);
    }

    &--title {
      display: flex;
      gap: 10%;
      align-items: center;
      color: #fff;

      &--header {
        font-family: "Lucida Sans",
          "Lucida Sans Regular",
          "Lucida Grande",
          "Lucida Sans Unicode",
          Geneva,
          Verdana,
          sans-serif;
        font-size: 115%;
        font-weight: bold;
      }

      &--counter {
        opacity: 1;
        font-family: serif;
        font-size: 115%;
        font-weight: bold;
      }
    }

    &--table {
      width: 100%;

      &--head {
        &_tr {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
        }

        &_th {
          border-left: 1px solid #dbdbdb !important;
          border-radius: 15px;
        }
      }

      &--button {
        display: flex;
        justify-content: start !important;
      }
    }
  }
}
